/* Estilizando a imagem da bola */
.Bola {
  width: 120px;
  height: 120px;
  border-radius: 50%; /* Adicionando bordas arredondadas para a imagem */
}

/* Estilos gerais para o corpo da página */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Atualizando a fonte */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1f1f1f; /* Ajustando a cor de fundo para um tom mais escuro */
  color: #fff; /* Definindo a cor do texto como branco */
}

/* Estilizando o container principal */
.container {
  text-align: center;
  padding: 20px;
}

/* Estilizando o título h1 */
h1 {
  font-size: 2em; /* Aumentando o tamanho do título */
  margin-bottom: 20px;
}

/* Estilizando a entrada de texto */
#inputPergunta {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Estilizando o botão */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Estilizando a resposta */
.resposta {
  margin-top: 20px;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: #2b00ff;
}
